$black: #282828;

* {
  box-sizing: border-box;
}

.gamecontainer{
  width: 405px;
  height: 405px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.square{
  height: 45px;
  width: 45px;
  display: flex;
  border: 1px solid $black;
}
