$black: #282828;

* {
  box-sizing: border-box;
}

.gamecontainer{
  width: 407px;
  height: 407px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid $black;
}

.square{
  height: 45px;
  width: 45px;
  display: flex;
  border: 1px solid $black;
}

.covered {
  background-color: rgba(123, 41, 145, 1);;
}

.flagged {
  background-color: red;
}
